:root {
  /*--primaryColor: #316c72;*/
  --primaryColor: #489DBA;
  --primaryHoverColor: #6fabc0;
  --n-padding-left: 16px;
  --n-padding-top: 16px;
  --n-padding-right: 16px;
  --n-padding-bottom: 16px;
}
